
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  /* border: 1px solid #000; */
  text-align: center; /* Center-align all table text */
}

td input[type="text"] {
  width: 100%;
}

button {
  min-width: 75px;
  border: none;
}
